

.jumbotron {
   
    min-height: 500px;
    padding: 20%;
    text-align: center;
    background-image: url(jared-rice-Tf-qtxkNisk-unsplash.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'lobster';
    margin-top: -70px;
    
   
   
}
#one {
    background-image: url(laya-clode-Zf4yTni1CWg-unsplash.jpg);
}

#two {
    background-image: url(mayank-gaur-d7C8PiCxHkQ-unsplash.jpg);
}
#three {
    background-image: url(veronica-reverse-zq-7krypDIE-unsplash.jpg);
}
#four {
    background-image: url(brandon-hoogenboom--0G7sYVxw08-unsplash.jpg);
}
.footer {
    padding: 50px;
    text-align: center;
    background-color: black;
    margin-top: -50px;
    color: white;
}
#one {
  
      @media (min-width: 400px) {
        p{
          background-image: url(laya-clode-Zf4yTni1CWg-unsplash.jpg);
        }
      }
}
#two {
   
      @media (min-width: 400px) {
        p{
          background-image: url(mayank-gaur-d7C8PiCxHkQ-unsplash.jpg);
        }
      }
}
#three {
    @media screen {
        p{
            background-image: url(veronica-reverse-zq-7krypDIE-unsplash.jpg);
        }
    }
}
#four {
    @media screen {
        p{ 
            background-image: url(brandon-hoogenboom--0G7sYVxw08-unsplash.jpg);   
        }
    }
}